@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-blue: #2950a3;
  --secondary-orange: #f68527;
  --whatsapp-green: #49c858;
  --small-padding: 2rem;
  --medium-padding: 15rem;
  --large-padding: 21rem;
  --letter-spacing-small: -0.05em;
  --letter-spacing-medium: -0.03em;
  --line-height-small: 114.5%;
  --line-height-medium: 145.5%;
  --line-height-large: 163.5%;
}

::selection {
  background-color: var(--secondary-orange);
  color: white;
}

::-moz-selection {
  background-color: var(--secondary-orange);
  color: white;
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-transform: translate3d(0);
  -webkit-backface-visibility: hidden;
  -moz-transform: translate3d(0);
  position: relative;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

strong {
  font-variation-settings: "wght" 600;
}

/* Nav menu start */
.nav-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70vw;
  background-color: #f6f6f6;
  z-index: 200;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateX(100%);
  transition: transform 200ms ease;
}

.nav-overlay {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  opacity: 0;
  transition: opacity 200ms ease;
  pointer-events: none;
}

.nav-link {
  display: block;
  color: var(--primary-blue);
  font-size: 1.6em;
  text-align: right;
  letter-spacing: var(--letter-spacing-small);
  font-variation-settings: "wght" 550;
  text-decoration: none;
  padding: 2rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.dropdown-accordion {
  padding: 2rem;
  max-height: 1.6rem;
  overflow: hidden;
  transition: max-height 300ms ease, background-color 300ms ease;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.dropdown-open {
  max-height: 200rem;
  background-color: white;
}

.stop-scroll {
  overflow: hidden;
}

.dropdown-accordion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.dropdown-accordion-item span {
  font-size: 1.6rem;
  letter-spacing: var(--letter-spacing-small);
  font-variation-settings: "wght" 550;
  color: var(--primary-blue);
}

.dropdown-accordion-item .iconify {
  font-size: 0.6rem;
  color: var(--primary-blue);
}

.dropdown-accordion-links {
  text-align: right;
}

.product-title {
  font-size: 1.3rem;
  font-variation-settings: "wght" 600;
  margin: 0 0 2rem 0;
}

.dropdown-links-unit {
  display: block;
  margin-bottom: 3rem;
}

.dropdown-links-unit > a {
  display: block;
  font-size: 1.4rem;
  letter-spacing: var(--letter-spacing-small);
  color: black;
  text-decoration: none;
  padding: 1rem 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.show {
  opacity: 0.6;
  pointer-events: all;
}

.show-nav {
  transform: translateX(0%);
}
/* Nav menu end */

/* Navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--small-padding);
}

.nav-logo img {
  width: 100%;
  height: 100%;
}

.nav-logo {
  width: 8.5rem;
}

nav > .hamburger {
  color: var(--primary-blue);
  font-size: 2.5em;
}
/* Navbar end */

/* Hero section start */
.hero {
  background-image: url("/public/buy-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem var(--small-padding);
}

.hero-title {
  display: inline-block;
  color: white;
  font-size: 2.8rem;
  font-variation-settings: "wght" 600;
  letter-spacing: var(--letter-spacing-small);
  border-bottom: 5px var(--secondary-orange) solid;
}
/* Hero section end */

/* Text section start */
.text {
  padding: 1.5rem var(--small-padding);
}

.title {
  font-size: 2.2rem;
  font-variation-settings: "wght" 600;
  letter-spacing: var(--letter-spacing-small);
  margin: 1.5rem 0;
}

.desc {
  margin: 1rem 0;
  font-size: 1.3rem;
  font-variation-settings: "wght" 450;
  letter-spacing: var(--letter-spacing-small);
  line-height: var(--line-height-large);
}
/* Text section end */

/* Job Accordion start */
.job-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem 0;
  padding: 0 var(--small-padding);
  margin: 0 0 3rem 0;
}

.nojob {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: var(--letter-spacing-small);
  font-variation-settings: "wght" 550;
}

.accordion {
  width: 100%;
}

.accordion-item {
  background-color: #eeeeee;
  margin: 1rem 0;
}

.accordion-item:first-child {
  margin-top: 0;
}

.accordion-item:last-child {
  margin-bottom: 0;
}

.accordion-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-variation-settings: "wght" 350;
  letter-spacing: -0.05em;
  background-color: var(--primary-blue);
  user-select: none;
}

.accordion-link .iconify {
  font-size: 2rem;
  margin: 0 0.5rem;
  pointer-events: none;
}

.accordion-desc > p {
  padding: 1.5rem;
  margin: 0;
}

.accordion-desc {
  max-height: 30rem;
  overflow: hidden;
  letter-spacing: -0.05em;
  font-size: 1.1rem;
  line-height: 163.5%;
  transition: max-height 200ms ease-in-out;
}

.collapse {
  max-height: 0rem;
}

.hidden {
  display: none;
}
/* Job Accordion end */

/* Goal text start */
.goal-text {
  width: 25rem;
  height: 20rem;
  background-image: url("/public/goal.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  letter-spacing: -0.05em;
}

.goal-text .title {
  margin: 0 0 1rem 0;
}

.small-text {
  font-size: 0.9rem;
  font-variation-settings: "wght" 450;
  letter-spacing: -0.05em;
  line-height: 163.5%;
}

.text-container {
  width: 15rem;
}
/* Goal text end */

/* Contact details start */
.contact-details-flex {
  display: flex;
  flex-direction: column;
  padding: 0 var(--small-padding);
  justify-content: space-between;
  margin-bottom: 3rem;
}

.contact-details-grid {
  display: grid;
  gap: 0rem 0.5rem;
  padding: 2rem 0;
  grid-template-columns: max-content max-content;
}

.details-title {
  font-size: 1.125rem;
  font-variation-settings: "wght" 600;
  letter-spacing: -0.05rem;
  margin: 0.5rem 0;
}

.details-desc {
  font-size: 1.1rem;
  font-variation-settings: "wght" 450;
  letter-spacing: -0.05rem;
  line-height: 163.5%;
  margin: 0;
}

.contact-details-grid .iconify {
  font-size: 2.2rem;
  color: var(--secondary-orange);
}
/* Contact details end */

/* Footer */
footer {
  color: white;
  background-color: var(--primary-blue);
  letter-spacing: -0.05em;
  padding: 3rem var(--small-padding);
}

footer a {
  text-decoration: none;
  color: white;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 0;
  justify-content: space-between;
}

.footer-flex > * {
  flex-basis: 40%;
}

.footer-unit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo img {
  width: 100%;
}

.footer-logo {
  width: 10rem;
}

.footer-logo p {
  font-size: 0.8rem;
  font-variation-settings: "wght" 300;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.footer-address {
  text-align: right;
  font-size: 1.2rem;
  font-variation-settings: "wght" 300;
  line-height: 163.5%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-links a {
  text-align: right;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-variation-settings: "wght" 500;
}

footer h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1.3rem;
  font-variation-settings: "wght" 400;
}

.footer-contact p {
  font-size: 1.2rem;
  font-variation-settings: "wght" 300;
  margin-bottom: 0.5rem;
  line-height: 163.5%;
}

.copyright {
  font-size: 1.2rem;
  font-variation-settings: "wght" 300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.footer-social-media i {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
/* Footer */

@media only screen and (min-device-width: 411px) {
  :root {
    --small-padding: 3rem;
  }
}
